/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

/* Cabeçalho */
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

/* Título */
header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 3px;
}

header h2 {
    font-size: 1.0em;
    font-weight: 400;
    margin-top: 0%;
    color: rgb(213, 213, 213);
}

/* Tabela de horários */
table {
    width: 50%; /* Ajuste a largura para a tabela não ficar esticada */
    margin: 0 auto; /* Centraliza a tabela */
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para cabeçalhos da tabela */
th {
    background-color: #2980b9;
    color: white;
    padding: 12px 15px;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Tabela de sábado */
.table-saturday {
    width: 50%; /* Ajuste a largura para manter o mesmo estilo */
    margin: 0 auto; /* Centraliza a tabela */
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para cabeçalhos da tabela de sábado */
.table-saturday th {
    background-color: #071d2b; /* Verde */
    color: white;
    padding: 12px 15px;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Estilos para células da tabela de sábado */
.table-saturday td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Cores alternadas para as linhas */
.table-saturday tr:nth-child(even) {
    background-color: #eafaf1; /* Verde claro */
}

.table-saturday tr:nth-child(odd) {
    background-color: #ffffff; /* Branco */
}

/* Estilos para células da tabela */
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Ajuste para a tabela no mobile */
@media (max-width: 768px) {
    table, .table-saturday {
        width: 100%; /* Tabelas ocupam 100% da largura no mobile */
        table-layout: fixed; /* Impede que as colunas aumentem ou encolham dependendo do conteúdo */
    }

    /* Ajuste do tamanho das células no mobile */
    td {
        padding: 8px 10px; /* Menor padding no mobile */
    }

    /* Ajuste do texto no mobile */
    .itinerary-table .text {
        font-size: 14px; /* Ajuste de font-size no mobile */
    }

     /* Ajuste para os cabeçalhos da tabela */
     th {
        padding: 10px 12px;
    }
}

/* Ajuste de estilo para a tabela de domingo */
@media (max-width: 768px) {
    .table-saturday th {
        padding: 10px 12px;
        font-size: 14px; /* Font menor no mobile */
    }
    .table-saturday td {
        padding: 8px 10px;
        font-size: 14px; /* Font menor no mobile */
    }
}

/* Cores alternadas para as linhas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 40px;
    color: #7f8c8d;
}

footer p {
    font-size: 14px;
}

/* Destaque para o horário */
.highlight td {
    -webkit-text-fill-color: #e74c3c; /* Vermelho */
    color: #fff; /* Texto branco */
    font-weight: bold; /* Deixa o texto em negrito */
}

/* Estilo para a seta */
.arrow {
    float: right;
    font-size: 18px;
    cursor: pointer;
    color: #2980b9;
}

/* Texto escondido */
.details {
    display: none; /* Esconde o texto por padrão */
    font-size: 14px;
    margin-top: 5px;
    color: #555;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
}

/* Texto escondido */
.details {
    display: none; /* Esconde o texto por padrão */
    font-size: 14px;
    margin-top: 5px;
    color: #555;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
}

/* Deixa o horário inteiro clicável */
.clickable { 
    color: #e74c3c;
    font-weight: bold; /* Deixa o texto em negrito */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.clickable2 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.clickable3 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%; /* Faz com que ocupe toda a largura disponível */
    margin-left: 10px;
}

/* Efeito ao passar o mouse */
.clickable:hover {
    background-color: #e6e6e6;
}

.clickable2:hover {
    background-color: #e6e6e6;
}


/* Animação para o texto (detalhes) */
.details {
    display: none;
    font-size: 14px;
    margin-top: 5px;
    color: #555;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    height: 0; /* Altura inicial é 0 */
    transition: height 0.3s ease, opacity 0.3s ease;
    opacity: 0; /* Começa invisível */
}

/* Animação ao abrir (altura dinâmica e visível) */
.details.open {
    display: block;
    height: auto; /* Ajusta automaticamente */
    opacity: 1;
}

/* Animação para a seta */
.arrow {
    float: right;
    font-size: 18px;
    cursor: pointer;
    color: #2980b9;
    transition: transform 0.3s ease; /* Transição para rotação */
}

/* Seta girada para cima */
.arrow.rotate {
    transform: rotate(180deg); /* Gira a seta 180 graus */
}

.footer-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.logos {
    display: flex;
    gap: 10px;
}

.logo {
    height: 40px;
}

.social a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social a:hover {
    color: #1a5276;
}

.logo {
    width: 100px;
    height: auto;
}

.loguo {
    width: 90px;
    height: auto;
    margin-top: 10px;
}

/* Configuração da linha entre as bolinhas */
.itinerary-table .dot-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Linha que conecta as bolinhas */
.itinerary-table .dot-container::before {
    content: "";
    position: absolute;
    width: 3px; /* Largura da linha */
    background-color: #2c3e50; /* Cor da linha */
    top: -157px; /* Linha começa acima do ponto */
    bottom: 0; /* Conecta ao próximo ponto */
    left: 6.5px; /* Centraliza com a bolinha */
    z-index: 0; /* Fica atrás da bolinha */
}
@media (max-width: 768px) {
    .itinerary-table .dot-container::before {
        display: none;
    }
}

/* Esconde a linha antes da primeira bolinha */
.itinerary-table tr:first-child .dot-container::before {
    display: none;
}

.itinerary-table .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 1; /* Bolinha por cima da linha */
    max-width: 16px; /* Garante que a bolinha não se expanda no mobile */
    max-height: 16px; /* Garante que a bolinha não se expanda no mobile */
    flex-shrink: 0; /* Impede que a bolinha encolha no mobile */
}

/* Ajuste para a tabela no mobile */
@media (max-width: 768px) {
    .itinerary-table {
        width: 100%; /* Garante que a tabela ocupe 100% da largura disponível */
        table-layout: fixed; /* Impede que as colunas aumentem ou encolham dependendo do conteúdo */
    }
}

/* Estilo do texto */
.itinerary-table .text {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
}
